@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors  */
  /* text */
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* Background */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* Secondary */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);

  /* Font */
  --body-font-family: "Rubik";
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font-family);
  background: var(--Light-Grayish-Violet);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

.bg-violet {
  height: 87vh;
  width: 380px;
  background: linear-gradient(
    to bottom,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  position: absolute;
  top: 0;
  left: -85px;
  z-index: -1;
}
.container {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 8rem;
}
.chat {
  background: white;
  padding: 12px;
  border-radius: 2rem;
  width: 300px;
  height: 100%;
}
.chat_content {
  height: 100%;
}
.chat_header {
  background: linear-gradient(
    to right,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 1.2rem 1.2rem 0 0;
  padding: 40px 15px 25px;
}
.chat_header .icon-chevron-left {
  height: 20px;
}
.header-left {
  display: flex;
  align-items: center;
}
.contact-info {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-left: 4px;
}
.user-name {
  color: var(--White);
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.availability {
  color: var(--Very-Light-Magenta);
  font-size: 0.65rem;
}
.chat_header::before {
  content: "";
  background: var(--White);
  height: 20px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 18px 18px;
}
.chat_header .avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
}

.chat_body {
  background: var(--Light-Grayish-Violet);
  display: grid;
  border-radius: 0 0 1.8rem 1.8rem;
  overflow: hidden;
  font-size: 0.65rem;
  padding: 10px;
  row-gap: 0.6rem;
}
.message {
  line-height: 0.9rem;
  font-weight: 400;
}
.incoming_message {
  background-color: rgb(237, 229, 244);
  padding: 10px;
  display: inline-block;
  justify-self: flex-start;
  align-self: center;
  width: 170px;
  color: var(--Moderate-Violet);
  border-radius: 0.9rem 0.9rem 0.9rem 0.4rem;
}
.responding_message {
  background: var(--White);
  justify-self: flex-end;
  display: inline-block;
  padding: 10px;
  align-self: center;
  border-radius: 0.9rem 0.9rem 0.4rem 0.9rem;
  color: var(--Desaturated-Dark-Violet);
}
.dogs_photos {
  margin-top: 0.5rem;
  justify-content: end;
  display: flex;
  gap: 10px;
}
.dogs_photos img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.price {
  background: linear-gradient(
    to right,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  padding: 12px 10px;
  padding-right: 20px;
  width: 210px;
  border-radius: 0.9rem 0.9rem 0.9rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price .distance {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--Pale-Violet);
}
.price p {
  font-weight: 500;
}

.price strong {
  color: var(--White);
  font-size: 1rem;
}

.new_message {
  width: 100%;
  background: var(--White);
  border-radius: 48px;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
}
.new_message p {
  color: var(--Grayish-Blue);
}
.new_message img {
  height: 36px;
  width: 36px;
  position: absolute;
  right: 2px;
}
.description {
  width: 40%;
}
.description h1 {
  color: var(--Very-Dark-Desaturated-Violet);
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.description p {
  color: var(--Dark-Grayish-Violet);
  line-height: 1.7rem;
  font-size: 0.95rem;
}


@media screen and (max-width: 900px) {
  .bg-violet {
    left: -50px;
  }
  .container {
    flex-direction: column;
    margin: 3rem auto;
    gap: 3rem;
  }
  .description {
    width: 100%;
    text-align: center;
  }
}
